<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head}}
        <style>
            .moon1, .moon2, .moon3 {
                width: 150px;
                height: 150px;
            }
            
            .img1, .img2, .img3 {
                width: 70px;
                height: 70px;
            }
        </style>
    </head>
    <body>
        {{>header}}
    <div class="planet-content">
            {{>moons}}
    </div>
    </body>
</html>